# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# virtual environments (common names)
.venv
env
myenv
venv

# IntelliJ  and VSCode related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ============================ START Frontend ============================
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native
frontend/.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
frontend/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
# ============================= END Frontend =============================
